/*
body, .navbar, #page-wrapper, .footer, .sidebar {
  background-color:rgba(200, 200, 200, 1);
}

.panel-default > .panel-heading {
  background-color:rgba(172, 91, 91, 1);
}

.panel-default .btn-primary {
  color: white !important;
  border: 1px solid white !important;
}
*/

#ndepthlogo {
  font-size:30px;
  font-weight:bold;
  padding-top:7px;
  display:block
}
